<form name="form" novalidate ng-submit="send()">
	<md-toolbar layout="row" layout-align="center end" class="fivteenHeight" md-scroll-shrink ng-click="workinmaatlaata(datatt)">
		<div class="md-toolbar-tools">
	        <md-button class="md-icon-button" aria-label="Settings" ng-href="#/">
	          <md-icon md-svg-icon="/static/assets/left.svg"></md-icon>
	        </md-button>
			
	        <h2 flex md-truncate class="white">About Us</h2>
	       <!--  <md-button class="md-icon-button" aria-label="Favorite">
	          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
	        </md-button>-->	
      	</div>
	</md-toolbar>
	<md-content flex>
		<img src="/static/assets/we.png" style="width: 100vw">
		<md-card layout-padding layout layout-align="center start" style="background-color: rgb(63,63,63);font-weight: 100;font-size: 18px;" class="white roboto">
			<p>Adding value add on, To human's valuable life</p>
		</md-card>
		<md-card layout-padding layout layout-align="center start" style="background-color: rgb(63,63,63);font-weight: 100;font-size: 18px;" class="white roboto">
			<p>Made in Angular Js with firebase</p>
		</md-card>
		<br>
		<div layout layout-align="center start" class="roboto" style="color:rgb(63,63,63);font-size: 24px;font-weight: 200;">
			----------Tech Family----------
		</div>
		<br>
		<md-card style="height: 400px;" layout="column">
			<div flex="50" style="background-color: rgb(63,63,63);">
			</div>
			<div flex="50" class="md-whiteframe-16dp" style="background-color: teal;position: relative;" layout-align="start center" layout="column">
				<div style="width:120px;height:120px;border-radius:50%;background:url(static/assets/ps.jpg);background-size:cover;margin-top: -50px;" class="md-whiteframe-10dp">
					<!-- <img src="/static/assets/ps.jpg" style="margin-top:20px;width: 100%;border-radius: 50% "> -->
				</div>
				<div class="lato" layout-margin style="font-size: 24px;color:rgb(63,63,63);">Praveen Swarnkar</div>
				<div layout layout-margin>
					<div>
					<md-button class="md-button-icon" ng-href="https://www.facebook.com/profile.php?id=100003320047194" target="_blank">
						<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						    <path fill="#000000" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
						</svg>
					</md-button>
					</div>
					<div>
						<md-button class="md-button-icon" ng-href="https://www.linkedin.com/in/praveen--soni/
" target="_blank">
						<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						    <path fill="#000000" d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" />
						</svg>
						</md-button>
					</div>
					<div>
					<md-button class="md-button-icon" ng-href="https://www.techoctal.com" target="_blank">
						<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						    <path fill="#000000" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
						</svg>
					</md-button>
					</div>
				</div>
			</div>
		</md-card>
		<md-card style="height: 400px;" layout="column">
			<div flex="50" style="background-color: rgb(63,63,63);">
			</div>
			<div flex="50" class="md-whiteframe-16dp" style="background-color: #8f0000;" layout-align="start center" layout="column">
				<div style="width:120px;height:120px;background-color: red;border-radius:50%;margin-top: -50px;background:url(static/assets/kbc.jpg);background-size:cover;" class="md-whiteframe-10dp"></div>
				<div class="lato" layout-margin style="font-size: 24px;color:rgb(63,63,63);">Kautilya Bhardwaj</div>
				<div layout layout-margin>
					<div>
					<md-button class="md-button-icon" ng-href="https://www.facebook.com/kautilya.pro" target="_blank">
						<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						    <path fill="#000000" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
						</svg>
					</md-button>
					</div>
						<div>
						<md-button class="md-button-icon" ng-href="https://www.linkedin.com/in/kautilya-pro/" target="_blank">
						<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						    <path fill="#000000" d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" />
						</svg>
						</md-button>
					</div>
					<div>
						<md-button class="md-button-icon" ng-href="https://beingunik.com" target="_blank">
							<svg style="width:24px;height:24px" viewBox="0 0 24 24">
							    <path fill="#000000" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
							</svg>
						</md-button>
					</div>
				</div>
			</div>
		</md-card>
	</md-content>
</form>