<div layout="column" layout-align="space-around center" layout-gt-sm="row" layout-align-gt-sm="start center" style="min-height: 80vh">
	<md-card layout="column" class="lato mobileSize" ng-click="click('facebook')" flex-gt-sm="50" style="width: 100vw">
		<div layout="row">
			<div style="color: #2196e3;font-size: 48px;" layout layout-align="center start" flex>
			facebook
			</div>
			<div layout layout-align="center center" flex="10">
				<svg style="width:24px;height:24px" viewBox="0 0 24 24">
				    <path fill="#2196F3" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
				</svg>
			</div>
		</div>
		<div style="height: 10vh;background-color: #1565C0">
			<h1 class="roboto" style="text-align: center;color: white;">Login with facebook</h1>
		</div>
		<div style="height: 5vh;background-color: #1976D2">
		</div>
	</md-card>
	<div class="lato" style="font-size: 30px;">OR</div>
	<md-card layout="column" class="lato mobileSize" ng-click="click('google')" flex-gt-sm="50" style="width: 100vw">
		<div layout>
			<div style="color: #F44336;font-size: 48px;" layout layout-align="center start" flex>
			Google
			</div>
			<div layout layout-align="center center" flex="10">
				<svg style="width:24px;height:24px" viewBox="0 0 24 24">
				    <path fill="#F44336" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
				</svg>
			</div>
		</div>
		<div style="height: 10vh;background-color: #C62828">
			<h1 class="roboto" style="text-align: center;color: white;">Login with google</h1>
		</div>
		<div style="height: 5vh;background-color: #D32F2F">
		</div>
		
	</md-card>
</div>