<md-toolbar layout="row" layout-align="center end" class="fivteenHeight" md-scroll-shrink ng-click="workinmaatlaata(datatt)">
  <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" ng-if="showBeforeAuth">
          <md-icon md-svg-icon="/static/assets/menu.svg"></md-icon>
        </md-button>
        <h2 flex md-truncate class="white">{{title}}</h2>
        <!--  <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button><-->   
        <md-menu ng-if="showBeforeAuth">
          <md-button class="md-icon-button" aria-label="More" ng-click="openMenu($mdMenu, $event)">
            <md-icon md-menu-origin md-svg-icon="/static/assets/more.svg"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-href="#/about">
                  <md-icon></md-icon>
                    About Us
                  </md-button>
          </md-menu-item>
          <md-menu-item>
                <md-button ng-click="signOut()">
                  <md-icon></md-icon>
                    Sign Out
                  </md-button>
          </md-menu-item>
          </md-menu-content>
      </md-menu>
  </div>
</md-toolbar>