<md-content flex>
	<div ng-repeat="item in timetable.object">
		<md-subheader ng-click="myShow = !myShow" ng-init="myShow = true">
			<div layout="row" layout-align="space-between start">
				<div>
					{{item.name}}
				</div>
				<div layout layout-align="end start">
			 		<md-icon md-svg-icon="/static/assets/arrow_down.svg" ng-hide="myShow"></md-icon>
			 		<md-icon md-svg-icon="/static/assets/arrow_up1.svg" ng-show="myShow" ></md-icon>
				</div>
			</div>
		</md-subheader>
		<md-list layout="column" ng-show="myShow" ng-click="myShow = !myShow">
			<div layout="column">
				<div layout="row" style="width: 100%">
					<div flex="100/3" layout="row" layout-align="center start">
						Time
					</div>
					<div flex="100/3" layout="row" layout-align="center start">
						Subject
					</div>
					<div flex="100/3" layout="row" layout-align="center start">
						Teacher
					</div>
				</div>
				<div ng-repeat="data in item" layout="row" layout-align="space-between start" style="width: 100%" layout-padding>
					<div flex="100/3" layout="row" layout-align="center start">
						{{data.time | date:'shortTime'}}
					</div>
					<div flex="100/3" layout="row" layout-align="center start">
						{{data.subject}}
					</div>
					<div flex="100/3" layout="row" layout-align="center start">
						{{data.teacher}}
					</div>
				</div>
	        	<md-divider> 
	        	</md-divider>
	      	</div>
		</md-list>
	</div>
</md-content>