<md-content flex>
	<md-subheader>Activity Related To All</md-subheader>
	<md-list>
		<md-list-item class="md-3-line"
		ng-repeat="item in activityAll | orderBy:item.Create.date">
			<timeline data="item" style="width:100%"></timeline>
        	<md-divider> 
        	</md-divider>
      	</md-list-item>
	</md-list>
	<md-subheader>Activity Related To Class</md-subheader>
	<md-list>
		<md-list-item class="md-3-line"
		ng-repeat="item in activityClass | orderBy:item.Create.date">
			<timeline data="item" style="width:100%"></timeline>
        	<md-divider> 
        	</md-divider>
      	</md-list-item>
	</md-list>
</md-content>